<?xml version="1.0"?>
<launch>

    <!-- 启动仿真模型 -->
    <include file="$(find robot_sim)/launch/robot_model.launch"/>

    <!-- 启动图形化的控制关节运动节点 -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz_robot_model_display" required="true"
          args="-d $(find robot_sim)/rviz/robot_sim_model_dis.rviz"/>/>

</launch>