<?xml version="1.0"?>
<launch>
    <!-- 启动move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <param name="controller_frequency" value="4.0"/>
        <param name="controller_patience" value="3.0"/>
        <param name="planner_frequency" value="1.0"/>
        <param name="planner_patience" value="3.0"/>

        <!-- 参数服务器 -->
        <rosparam file="$(find robot_sim)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_sim)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find robot_sim)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_sim)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_sim)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>
