<?xml version="1.0"?>
<launch>

    <!--添加Arbotix-->
    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find robot_sim)/config/mover_arbotix.yaml" command="load" />
        <param name="sim" value="true" />
    </node>

    <!--加载robot_description时使用command属性，属性值就是调用 xacro 功能包的 xacro 程序直接解析 xacro 文件-->
    <param name="robot_description" command="$(find xacro)/xacro  --inorder $(find robot_sim)/urdf/xacro/robot_car.urdf.xacro" />

    <!-- 添加关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- 添加机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <!-- 可选:用于控制关节运动的节点 -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz_learn_urdf" args="-d $(find robot_sim)/rviz/test_xacro.rviz" required="true"/>

</launch>